/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@font-face {
    font-family: 'Furore';
    src: url("./fonts/Furore.otf") format("opentype");
}

body {
	font-size: 62.5%;
}

.welcome-screen {
	width: 100%;
	height: 100vh;
}

.welcome-screen-banner {
	position: relative;
	width: 100%;
	height: 70%;
}

.welcome-screen-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.welcome-screen-title {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.6em;
	color: white
}

.welcome-screen-options {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-top: 3%;
}

.welcome-screen-text {
	text-align: center;
	width: 50%;
	font-size: 1.5em;
	margin-bottom: 2.5%;
}

.welcome-screen-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome-screen-buttons > * {
	margin-right: 0.5%;
	margin-left: 0.5%;
	font-family: 'Furore' !important;
}

.orange-button {
	background-color: rgb(248, 156, 36) !important;
	color: rgb(255, 255, 255) !important;
	border: 1px solid rgb(248, 156, 36) !important;
}

.orange-button:hover {
	background-color: rgb(250, 185, 64) !important;
}

.create-account-screen {
	width: 100%;
	display: flex;
	height: 100vh;
}

.create-account-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45%;
	height: 100vh;
	background-image: linear-gradient(rgb(240, 181, 71), rgb(245, 162, 37));
}

.create-account-image-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 55%;
}

.create-account-image {
	width: 75%; 
}

.create-account-small-logo {
	display: block;
	margin-bottom: 5%;
}

.home-screen {
	margin: auto;
	width: 60%;
}

.home-screen-header {
	display: flex;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.home-screen-subheader {
	display: flex;
	margin-top: 0%;
	margin-bottom: 2.5%;
	margin-right: 0%;
	margin-left: 0%;
}

.progress-graphs {
	margin-top: 3%;
	margin-bottom: 10%;
}

.graph-difficulty {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3%;
	height: 700px;
}

.graph-problems {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3%;
	height: 550px;
}

.checkmark-logo {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-right: 0;
	margin-left: 1.5%;
	height: 4.75em;
}

.problem-list {
	margin-top: 2.5%;
	margin-bottom: 10%;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

.enter-solution-modal {
	margin: auto;
	width: 60%;
}

.primary-header {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-right: 0%;
	margin-left: 0%;
	font-size: 4.0em;
}

.secondary-header {
	font-size: 2.8em;
}

.tertiary-header {
	font-size: 2.0em;
	margin-bottom: 2%;
	margin-top: 2%;
}

/* .card:hover {
	background-color: rgb(221, 221, 221);
} */

.card-title {
	display: flex !important;
	margin-bottom: 0 !important;
}

.card-title-link {
	display: inline;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 0 !important;
	color: black;
}

.card-title-link:hover {
	/* display: inline;
	cursor: pointer; */
	text-decoration: underline;
	color: rgb(10, 128, 197)
}

.textbox {
	font-size: 1.4em;
}

.add-tag-form {
	display: flex;
	margin-bottom: 2.5%;
}

.description {
	width: 65%;
	margin-top: 2.5%;
	text-align: center;
	font-size: 1.4em;
}

.ql-container {
    font-size: 20px !important;
}

.solution-list-header {
	display: flex;
	align-items: center;
	margin-bottom: 2%;
}

.solution-card-header {
	font-size: 1.4em;
}

.solution-card-subheader {
	margin-bottom: 2%;
}

.run-button {
	display: flex;
	justify-content: right;
	margin-top: 2%;
}

.run-button > * {
	margin-left: 1%;
}

.modal-90w {
	min-width: 60%;
}

.cm-editor { border: 1px solid black }

.nav {
	font-size: 1.6em;
}

.problem-description {
	margin-top: 5%;
	margin-bottom: 10%;
}

.problem-solutions {
	margin-top: 5%;
	margin-bottom: 10%;
}

.problem-tests {
	margin-top: 5%;
	margin-bottom: 10%;
}

.edit-button {
	display: flex;
	justify-content: right;
	margin-top: 2.5%;
}

.save-cancel-buttons {
	display: flex;
	justify-content: right;
	width: 100%;
	margin-right: 2%;
}

.explanation-text {
	font-size: 1.4em;
	margin-bottom: 2%;
}

.terminal {
	width: 100%;
	padding: 4%;
	margin-top: 2.5%;
	margin-bottom: 2%;
	white-space: pre-line;
	border-radius: 1%;
	color: white;
	background-color: black;
	font-family: "Lucida Console", "Courier New", monospace;
}

.no-data-message {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	font-size: 1.4em;
}

.tag-list {
	margin-bottom: 1.5%;
}

.tag-list > * {
	margin-right: 2%;
	margin-bottom: 1%;
}

.tag-container {
	display: inline-block;
	border: 1px solid rgb(10, 128, 197);
	border-radius: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	color: rgb(10, 128, 197);
}

.tag-container:hover {
	background-color: red;
	color: white;
	border: 1px solid white;
}

.card-tag-container {
	display: inline-block;
	margin-right: 1%;
	border: 1px solid rgb(10, 128, 197);
	border-radius: 15px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	color: rgb(10, 128, 197);
}